                <!-- Item 4 BLOCKS 
                {{ if (eq .template "block-image") }}
                    <div class="accordion-item">
                        <div class="col-12 {{.template}}">
                        <img src="{{.image}}" class="img-fluid" alt="{{.Params.title}}">
                        </div>
                            <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                {{.Params.faq_title_three}}
                            </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#employee-participation">
                            <div class="accordion-body">
                                {{.Params.faq_content_three}}
                            </div>
                            </div>
                    </div>
                {{end}}
                -->